
<link href="datepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<div class="ajax-quick-view">
	<div class="quick-view-content">
		<div class="product">
			<div class="row">
				<div class="col-md-5">
					<div class="product-image ">
						<div class="carousel" data-items="1">
							<img src="images/shop/products/vendor_gedung/1.jpg" alt="Shop product image!">
							<img src="images/shop/products/vendor_gedung/2.jpg" alt="Shop product image!">
						</div>
					</div>

					
				</div>
				<div class="col-md-7">
					<div class="product-description">
						<div class="product-category">Jakarta Selatan</div>
						<div class="product-title">
							<h3><a href="#">Swiss BelHotel Pondok Indahs</a></h3>
						</div>
						<div class="product-price"><ins>Rp.328.888.000</ins>
						</div>

						<div class="seperator m-b-10"></div>
						<div class="container">
							<div class="row">
								<form action="" class="form-horizontal"  role="form">
									<fieldset>
										<div class="product-category"><h6>PILIH TANGGAL</h6></div>
										<div class="form-group">
											<div style="margin-left: 10px" class="input-group date form_datetime col-md-4" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
												<input class="form-control" size="12" type="text" value="" readonly>
												<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
											</div>
											<input type="hidden" id="dtp_input1" value="" /><br/>
										</div>
									</fieldset>
								</form>
							</div>
						</div>

						
						<p class="text-detail">1. Buffet for 900 persons<br>
							2. Complimentary 700 portions of selected food stall<br>
							3. Complimentary 100 cups of ice cream stall<br>
							4. Complimentary soft drinks equal to buffet order<br>
							5. Food tasting for 8 persons after 50% down payment<br>
							6. Complimentary separate buffet for 30 persons inside the private room on the day of wedding<br>
							7. Free one night stay in Suite room for Bride and Groom including breakfast for 2 persons<br>
							8. Free one night stay in one Superior room for family including breakfast for 2 persons<br>
							9. Special rate for additional room for family or friends on the day of wedding<br>
							10. Free photo taking at bridal room, lobby and swimming pool during your stay<br>
							11. Red carpet from ballroom entrance to the bridal stage<br>
							12. Complimentary two bottles of sparkling fruit for the wedding toast<br>
							13. Free usage of private room for Tea Pai ceremony<br>
							14. Complimentary VIP parking for 5 cars including 20 free parking on the day of wedding<br>
							15. Complimentary 6 reception books<br>
							16. Free one night stay in Superior room on your 1st Wedding Anniversary including dinner voucher at Rp 500,000<br>
							17. Entertainment : MC, Singer, Baby Grand Piano, Saxophone, Bass and standard Sound System<br>
						18. Free decoration option for your choice from our vendor at Rp 30,000,000</p>


						
						<div class="seperator m-t-20 m-b-10"></div>

					</div>
					<div class="m-t-20">
						<a href="login.html" class="btn btn-default btn-lg" type="button"><i class="fa fa-shopping-cart"></i> Add to cart</a>
					</div>

				</div>


			</div>

		</div>
	</div>
</div>

<script type="text/javascript" src="datepicker/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="datepicker/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="datepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="datepicker/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script type="text/javascript">
	$('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
	$('.form_date').datetimepicker({
		language:  'fr',
		weekStart: 1,
		todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
	});
	$('.form_time').datetimepicker({
		language:  'fr',
		weekStart: 1,
		todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		minView: 0,
		maxView: 1,
		forceParse: 0
	});
</script>