<div class="ajax-quick-view">
	<div class="quick-view-content">
		<div class="product">
			<div class="row">
				<div class="col-md-5">
					<div class="product-image ">
						<div class="carousel" data-items="1">
							<img src="images/shop/products/vendor_busana/1.jpg" alt="Shop product image!">
							<img src="images/shop/products/vendor_busana/2.jpg" alt="Shop product image!">
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="product-description">
						<div class="product-category">Tangerang</div>
						<div class="product-title">
							<h3><a href="#">JC ART House</a></h3>
						</div>
						<div class="product-price"><ins>Rp.5.000.000</ins>
						</div>

						<div class="seperator m-b-10"></div>
						<div class="container">
							<div class="row">
								<form action="" class="form-horizontal"  role="form">
									<fieldset>
										<div class="product-category"><h6>PILIH TANGGAL</h6></div>
										<div class="form-group">
											<div style="margin-left: 10px" class="input-group date form_datetime col-md-4" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
												<input class="form-control" size="12" type="text" value="" readonly>
												<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
											</div>
											<input type="hidden" id="dtp_input1" value="" /><br/>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
						

						<p class="text-detail">Deskripsi Paket :<br>
							1. Gaun / Costume<br>
							2. Asesoris<br>
							3. MakeUp<br>
							4. Retouch<br>
							5. Album<br>
						6. Canvas & Konsep</p>
						<div class="product-meta">



							<p>Tags: <a rel="tag" href="wardrobe-category.html">Wardrobe</a>
							</p>


						</div>
						<div class="seperator m-t-20 m-b-10"></div>

					</div>

					<div class="m-t-20">
						<a href="shop-chart.html" class="btn btn-default btn-lg" type="button"><i class="fa fa-shopping-cart"></i> Add to cart</a>
					</div>

				</div>


			</div>

		</div>
	</div>
</div>

<script type="text/javascript" src="datepicker/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="datepicker/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="datepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="datepicker/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script type="text/javascript">
	$('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
	$('.form_date').datetimepicker({
		language:  'fr',
		weekStart: 1,
		todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
	});
	$('.form_time').datetimepicker({
		language:  'fr',
		weekStart: 1,
		todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		minView: 0,
		maxView: 1,
		forceParse: 0
	});
</script>
