/*EXPLORE KATEGORI*/
div.scrollmenu {
    background-color: #fff;
    /* overflow: auto;*/
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    border-style: solid;
    border-color: #ececec;
    border-width: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.scrollmenu a:hover {
    background-color: #fafafa;
}

/*end: EXPLORE KATEGORI*/

/*SLIDER VENSIA*/
.slider-vensia {
    padding-top: 10px;
    padding-bottom: 10px
}

.img-slider-vensia {
    border-radius: 15px;
    box-shadow: 0 .1rem .2rem .1rem rgba(0, 0, 0, .1);
}

/*end: SLIDER VENSIA*/


/* KATEGORI LAYOUT MOBILE */
@media only screen and (max-width: 500px) {
    /* For tablets: */
    
    .diskon-harga {
        color: grey;
        clear: left !important;
        float: left !important;
        font-size: 10px;
        font-weight: 600;
        margin-bottom: 0;
        margin: 0 !important;
    }

    .lyt-vnsia {
        padding: 0 !important;
    }

    .leright {
        text-align: left !important;
        margin-bottom: 10px;
    }

    div.scrollmenu {
        background-color: #fff;
        overflow: auto;
        white-space: nowrap;
    }

    .shop-category .col-md-3 {
        width: 50%;
        clear: right !important;
        float: left;
        margin-bottom: -11px;
    }

    .shop-detail-m {
        text-align: left !important;
    }

    .tab-margin {
        margin-top: -20px;
    }

    .logo-visible {
        display: none;
    }

    .header-f {
        margin-top: -20px
    }

    .header-a {
        margin-top: 0px
    }

    .owl-carousel.arrows-large .owl-nav [class*="owl-"] {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .owl-carousel.arrows-large .owl-nav [class*="owl-"] i {
        line-height: 30px;
        font-size: 18px;
    }

    .owl-carousel.dots-creative .owl-dots .owl-dot span {
        opacity: 0.5;
        box-shadow: none;
        border-radius: 0;
        background-color: #ffffff;
        height: 2px;
        width: 10px;
    }

    #header #header-wrap #logo a>img {
        vertical-align: inherit;
        transition: all .4s ease-in-out;
        height: 60px;
        width: auto;
        margin-top: 10px
    }

    .grid-6-columns .grid-item,
    .post-6-columns .post-item,
    .portfolio-6-columns .portfolio-item {
        width: 50%;
    }

}

@media only screen and (min-width: 501px) {

    /* For pc: */
    .menu-off {
        display: none;
    }

    .product-width {
        width: 500px;
    }

    .cart-mbl {
        margin-left: 30px;
        margin-top: 26px;
    }

    .mobile {
        display: none;
    }

    .header-f {
        margin-top: -20px
    }

    .header-a {
        margin-top: 0px
    }

    .tab-margin {
        margin-top: -40px;
    }

    .leright {
        text-align: left !important;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 800px) {
    .header-f {
        margin-top: -80px
    }

    .header-a {
        margin-top: -40px
    }

    div.scrollmenu {
        background-color: #fff;
        overflow: auto;
        white-space: nowrap;
    }

    .leright {
        text-align: left !important;
        margin-bottom: 10px;
    }
}

/*@media only screen and (min-width: 690px) {
            .tab-margin{
                margin-top: -20px;
            }
            }*/

            /* ------------------------------------- */

            /*NOTIFIKASI*/
            .notify {
    /*position: relative;
    right: -8px;
    top: -10px;*/
    position: relative;
    z-index: 1;
    right: -15px;
    top: -40px;
}

.notify .heartbit {
    animation: 1s ease-out 0s normal none infinite running heartbit;
    border: 5px solid #f00000;
    border-radius: 70px;
    height: 25px;
    position: absolute;
    right: -4px;
    top: -20px;
    width: 25px;
    z-index: 10;
}

.notify .point {
    background-color: #f00000;
    border-radius: 30px;
    height: 6px;
    position: absolute;
    right: 6px;
    top: -10px;
    width: 6px;
}

@keyframes heartbit {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    25% {
        opacity: 0.1;
        transform: scale(0.1);
    }

    50% {
        opacity: 0.3;
        transform: scale(0.5);
    }

    75% {
        opacity: 0.5;
        transform: scale(0.8);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes heartbit {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    25% {
        opacity: 0.1;
        transform: scale(0.1);
    }

    50% {
        opacity: 0.3;
        transform: scale(0.5);
    }

    75% {
        opacity: 0.5;
        transform: scale(0.8);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

/*--------------------------------------*/

.side-kat-card {
    background-color: #ffffff;
    box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,.1);
    border-radius: 8px;
}

/*VENDOR PROFIL*/

.yeps-avatar {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    border: 5px solid #f7f7f7;
}

.yeps-vendor-card {
    background-color: #ffffff;
    /*box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,.1);*/
    border-radius: 8px;
}

.yeps-vendor-card:hover {
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.10);*/
    border-color: #f1f1f1;
    border-style: solid;
    border-width: 2px;
}

.yeps-vendor-name {
    font-size: 14pt;
    font-weight: 500;
    font-family: "Roboto";
    text-transform: capitalize;
}

.yeps-vendor-location {
    color: black !important;
    font-size: 12px !important;
    line-height: 0px !important;
}

.hr-vr {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 100vh;
    width: 1px;
}

/*----------------------------------------*/

/*SHOP DETAIL*/
.yeps-detail-box {
    background-color: #ffffff;
    box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, .1);
    border-radius: 5px;
    padding: 10px;
}

/*----------------------------------------*/

.help-txt-angsuran {
    background-color: #f6f6f6;
    padding: 7px 10px 1px 10px;
    margin-top: 5px;
    border: 1px solid #eeeeee;
}

.fasilitas p {
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    line-height: 15px;
    letter-spacing: 0;
    color: #7b7b7b;
}

#mybutton {
    position: fixed;
    z-index: 999;
    right: 80px;
    bottom: 0;
    position: fixed;
    margin-bottom: 20px
}

.product-height {
    max-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-height:hover {
    max-height: 100px;
    overflow: hidden;
    margin-bottom: 0;
}


.diskon-harga {
    color: grey;
    clear: right !important;
    float: right;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 0;
    margin: -23px 0 -4px;
}

.diskon-harga-rec {
    color: grey;
    clear: right !important;
    /* float: right; */
    font-size: 10px;
    font-weight: 600;
    /* margin-bottom: 0;
    margin: -23px 0 -4px;*/
}

.persen-diskon {
    clear: right !important;
    float: right;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 0;
    margin: -23px 0 -4px;
    background-color: #DC2977;
    padding: 5px;
    border-radius: 50%;
    color: #ffffff
}

.persen-disc {
    clear: right !important;
    float: right;
    font-size: 10px;
    font-weight: 600;
    background-color: #DC2977;
    padding: 2px;
    border-radius: 50%;
    color: #ffffff;
    margin-left: 5px;
}

.img-h-30 {
    max-height: 30px;
}

.box-app {
    background-color: #ca1d69;
    padding: 15px;
    margin: auto;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.p-name {
    /* product name */
    font-size: 1.78571429em;
    line-height: 1.2em;
    font-weight: 600;

}

/* --- TEXT RULES --- */

.capital {
    text-transform: capitalize;
}

.lower {
    text-transform: lowercase;
}

.upper {
    text-transform: uppercase;
}

.justify {
    text-align: justify !important;
}

/* --- end TEXT RULES --- */

.btn-putih {
    background-color: white;
    color: #DC2977;
}

.btn-putih:hoverx {
    background-color: white;
    color: #DC2977;
}

.packages {
    height: 150px;
}




/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 992px) {
    .packages {
        max-height: 100px;

    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 600px) {
    .packages {
        height: 100px;

    }
}

@media screen and (max-width: 1024px) {
    .promo-light {
        width: 100%;
        margin: 5px auto;
    }
}

@media screen and (min-width: 993px) {
    .image-right {
        float: right;
    }

    .image-left {
        float: left;
    }
}

.promo-light {
    /*padding: 20px;
    margin: 5px;
    margin: 5px -10px;
    background-color: #e2e3e7 !important;*/
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    width: auto;
}

a img {
    border: none;
}

.img-promo {
    max-width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 992px) {
    .image-right {
        margin: auto;
        margin-bottom: 10px;
    }

    .image-left {
        margin: auto;
    }
}


/* The container */
.space {
    display: block;
    position: relative;
    margin-bottom: 12px;
    padding-left: 60px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: justify;
}

/* Hide the browser's default checkbox */
.space input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #f3f3f3;
    margin-left: 20px;
}

/* On mouse-over, add a grey background color */
.space:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.space input:checked~.checkmark {
    background-color: #dc2977;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.space input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.space .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

div.ex1 {
    padding: 20px;
    background-color: white;
    width: 250px;
    height: 200px;
    overflow: scroll;
    border: 2px solid #fafafa;
}


/*! * Bootstrap-select v1.12.4 (http://silviomoreto.github.io/bootstrap-select) * * Copyright 2013-2017 bootstrap-select * Licensed under MIT (https://github.com/silviomoreto/bootstrap-select/blob/master/LICENSE) */
select.bs-select-hidden,
select.selectpicker {
    display: none !important
}

.bootstrap-select {
    width: auto;
}

.bootstrap-select>.dropdown-toggle {
    width: 100%;
    padding-right: 25px;
    z-index: 1
}

.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: black
}

.bootstrap-select>select {
    position: absolute !important;
    bottom: 0;
    left: 50%;
    display: block !important;
    width: .5px !important;
    height: 100% !important;
    padding: 0 !important;
    opacity: 0 !important;
    border: none
}

.bootstrap-select>select.mobile-device {
    top: 0;
    left: 0;
    display: block !important;
    width: 100% !important;
    z-index: 2
}

.error .bootstrap-select .dropdown-toggle,
.has-error .bootstrap-select .dropdown-toggle {
    border-color: #b94a48
}

.bootstrap-select.fit-width {
    width: auto !important
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%
}

.bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted #333 !important;
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px
}

.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
    border: none
}

.bootstrap-select.form-control:not([class*=col-]) {
    width: 100%
}

.bootstrap-select.form-control.input-group-btn {
    z-index: auto
}

.bootstrap-select.form-control.input-group-btn:not(:first-child):not(:last-child)>.btn {
    border-radius: 0
}

.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*=col-] {
    float: none;
    display: inline-block;
    margin-left: 0
}

.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*=col-].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*=col-].dropdown-menu-right {
    float: right
}

.form-group .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-inline .bootstrap-select.btn-group {
    margin-bottom: 0
}

.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
    padding: 0
}

.form-group-lg .bootstrap-select.btn-group.form-control .dropdown-toggle,
.form-group-sm .bootstrap-select.btn-group.form-control .dropdown-toggle {
    height: 100%;
    font-size: inherit;
    line-height: inherit;
    border-radius: inherit
}

.form-inline .bootstrap-select.btn-group .form-control {
    width: 100%
}

.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group>.disabled {
    cursor: not-allowed
}

.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group>.disabled:focus {
    outline: 0 !important
}

.bootstrap-select.btn-group.bs-container {
    position: absolute;
    height: 0 !important;
    padding: 0 !important
}

.bootstrap-select.btn-group.bs-container .dropdown-menu {
    z-index: 1060
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -2px;
    vertical-align: middle
}

.bootstrap-select.btn-group[class*=col-] .dropdown-toggle {
    width: 100%
}

.bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.bootstrap-select.btn-group .dropdown-menu li {
    position: relative
}

.bootstrap-select.btn-group .dropdown-menu li.active small {
    color: #fff
}

.bootstrap-select.btn-group .dropdown-menu li.disabled a {
    cursor: not-allowed
}

.bootstrap-select.btn-group .dropdown-menu li a {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
    position: relative;
    padding-left: 2.25em
}

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
    display: none
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
    display: inline-block
}

.bootstrap-select.btn-group .dropdown-menu li small {
    padding-left: .5em
}

.bootstrap-select.btn-group .dropdown-menu .notify {
    position: absolute;
    bottom: 5px;
    width: 96%;
    margin: 0 2%;
    min-height: 26px;
    padding: 3px 5px;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    pointer-events: none;
    opacity: .9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.bootstrap-select.btn-group .no-results {
    padding: 3px;
    background: #f5f5f5;
    margin: 0 5px;
    white-space: nowrap
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
    position: static
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
    position: static;
    top: auto;
    margin-top: -1px
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    position: absolute;
    display: inline-block;
    right: 15px;
    margin-top: 5px
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 34px
}

.bootstrap-select.show-menu-arrow.open>.dropdown-toggle {
    z-index: 1061
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(204, 204, 204, .2);
    position: absolute;
    bottom: -4px;
    left: 9px;
    display: none
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    bottom: -4px;
    left: 10px;
    display: none
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
    bottom: auto;
    top: -3px;
    border-top: 7px solid rgba(204, 204, 204, .2);
    border-bottom: 0
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
    bottom: auto;
    top: -3px;
    border-top: 6px solid #fff;
    border-bottom: 0
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
    right: 12px;
    left: auto
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
    right: 13px;
    left: auto
}

.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:after,
.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:before {
    display: block
}

.bs-actionsbox,
.bs-donebutton,
.bs-searchbox {
    padding: 4px 8px
}

.bs-actionsbox {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.bs-actionsbox .btn-group button {
    width: 50%
}

.bs-donebutton {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.bs-donebutton .btn-group button {
    width: 100%
}

.bs-searchbox+.bs-actionsbox {
    padding: 0 8px 4px
}

.bs-searchbox .form-control {
    margin-bottom: 0;
    width: 100%;
    float: none
}


/* ----------------------------------------------------------------
    Cart - New
    -----------------------------------------------------------------*/
    .img-cart {
        max-width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }

    .box-cart {
        padding: 20px;
        border: 1px solid #eeeeee;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12);
        margin-bottom: 20px
    }

    .product-name {
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: bold
    }

    .vendor-name {
        font-size: 16px;
        margin-bottom: 10px;
        margin-left: 17px
    }

    .price-cart {
        font-size: 16px;
        margin-bottom: 5px;
        color: #FB9307
    }

    .subtotal-cart {
        font-size: 13px;
        margin-bottom: 5px;
        color: #DC2977
    }

    .variant-cart {
        font-size: 13px;
        margin-bottom: 5px;
        font-family: "Nunito" !important;
    }

    .vnsia-clr {
        color: #DC2977 !important;
    }

    /* --- CART DETAIL -- */

    .vendor-box {
        padding: 20px 15px 15px;
        border-radius: 3px;
        border: solid 1px #e0e0e0;
        margin-bottom: 20px;
    }

    .vendor-box-search {
        padding: 5px 5px 5px;
        border-radius: 5px;
        border: solid 1px #e0e0e0;
        margin-bottom: 20px;
        position: relative;
        background-color: #ffffff;
        box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, .1);
    }

    .vendor-img-search {
        border-radius: 50%;
        height: 80px !important;
        margin: -5px 15px 10px 0px;
        width: 80px !important;
    }

    .vendor-img-search-2 {
        border-radius: 50%;
        height: 50px !important;
        margin: 0 auto 10px;
        width: 50px !important;
    }

    .vendor-name-cart {
        font-weight: bold;
        font-size: 14px;
    }

    .vendor-img {
        border-radius: 50%;
        display: block;
        float: none;
        height: 72px;
        margin: 0 auto 10px;
        width: 72px;
    }

    .harga-produk {
        margin-bottom: 0;
    }

    .harga-produk ins {
        color: #FB9307;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 4px;
        text-decoration: none !important;
    }

    .produk-diskon {
        font-size: 10px;
        font-weight: 600;
        background-color: #87EF54;
        background: rgb(16, 122, 222);
        /* Old browsers */
        background: -moz-linear-gradient(left, rgba(16, 122, 222, 1) 0%, rgba(92, 57, 116, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(16, 122, 222, 1) 0%, rgba(92, 57, 116, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(16, 122, 222, 1) 0%, rgba(92, 57, 116, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbfa14', endColorstr='#09d7cb',GradientType=1 );*/
        /* IE6-9 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c90db', endColorstr='#1359a7', GradientType=1);
        padding: 10px;
        border-radius: 5px;
        color: #ffffff;
        margin-right: 5px;
    }

    /* end CART DETAIL -- */

    .badge-total {
        background-color: #CECECE !important;
        display: inline-block;
        float: right;
        min-width: 10px;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        line-height: 1;
        vertical-align: middle;
        white-space: nowrap;
        text-align: center;
        border-radius: 10px;
        margin-right: 10px
    }

    .shadows {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12);
    }

    /* --- LIST ORDER --- */

    ol.alpa {
        list-style-type: lower-alpha;
    }

    /* --- LIST ORDER --- */

    .ac-content p {
        color: #565656 !important;
        text-align: justify !important;
    }


    .section-heading {
        display: block;
        margin-bottom: 20px;
        border-bottom: solid thin #DC2977;
        font-weight: 400;
        line-height: 1;
        color: #000;
        position: relative;
        padding-bottom: 10px;
    }

    .section-heading::before {
        content: '';
        position: absolute;
        bottom: 0;
        height: 6px;
        width: 90px;
        background-color: #DC2977;
        margin-top: 10px
    }

    .field-icon {
        float: right;
        margin-right: 10px;
        margin-top: -32px;
        position: relative;
        z-index: 2;
    }

    /* Header Menu */
    .menu-vdr:hover {
        background-color: #f5f5f5;
        border-radius: 10px !important;
    }

    /* end: Header Menu */

    /* Detail Service / Shop Detail */

    .btn-info-service {
        color: #dc2977;
        font-size: 10px;
    }

    .btn-info-service:hover {
        background-color: #eaeaea;
        border-radius: 5px;
        padding: 5px;
    }

    .star {
        font-size: 15px;
    }

    /* end:Detail Service / Shop Detail */

    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    }

    .shadow-sm:hover {
        box-shadow: 0 3px 7px 2px rgba(0, 0, 0, .1) !important;
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }

    .card>hr {
        margin-right: 0;
        margin-left: 0;
    }

    .card>.list-group:first-child .list-group-item:first-child {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .card>.list-group:last-child .list-group-item:last-child {
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
    }

    .card-title {
        margin-bottom: 0.75rem;
    }

    .card-subtitle {
        margin-top: -0.375rem;
        margin-bottom: 0;
    }

    .card-text:last-child {
        margin-bottom: 0;
    }

    .card-link:hover {
        text-decoration: none;
    }

    .card-link+.card-link {
        margin-left: 1.25rem;
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    .card-header:first-child {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

    .card-header+.list-group .list-group-item:first-child {
        border-top: 0;
    }

    .card-footer {
        padding: 0.75rem 1.25rem;
        background-color: rgba(0, 0, 0, 0.03);
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }

    .card-footer:last-child {
        border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
    }

    .card-header-tabs {
        margin-right: -0.625rem;
        margin-bottom: -0.75rem;
        margin-left: -0.625rem;
        border-bottom: 0;
    }

    .card-header-pills {
        margin-right: -0.625rem;
        margin-left: -0.625rem;
    }

    .card-img-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1.25rem;
    }

    .card-img {
        width: 100%;
        border-radius: calc(0.25rem - 1px);
    }

    .card-img-top {
        width: 100%;
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
    }

    .card-img-bottom {
        width: 100%;
        border-bottom-right-radius: calc(0.25rem - 1px);
        border-bottom-left-radius: calc(0.25rem - 1px);
    }

    .card-deck {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .card-deck .card {
        margin-bottom: 15px;
    }

    @media (min-width: 576px) {
        .card-deck {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            margin-right: -15px;
            margin-left: -15px;
        }

        .card-deck .card {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex: 1 0 0%;
            flex: 1 0 0%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-right: 15px;
            margin-bottom: 0;
            margin-left: 15px;
        }
    }

    .card-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .card-group>.card {
        margin-bottom: 15px;
    }

    @media (min-width: 576px) {
        .card-group {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
        }

        .card-group>.card {
            -webkit-box-flex: 1;
            -ms-flex: 1 0 0%;
            flex: 1 0 0%;
            margin-bottom: 0;
        }

        .card-group>.card+.card {
            margin-left: 0;
            border-left: 0;
        }

        .card-group>.card:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .card-group>.card:first-child .card-img-top,
        .card-group>.card:first-child .card-header {
            border-top-right-radius: 0;
        }

        .card-group>.card:first-child .card-img-bottom,
        .card-group>.card:first-child .card-footer {
            border-bottom-right-radius: 0;
        }

        .card-group>.card:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .card-group>.card:last-child .card-img-top,
        .card-group>.card:last-child .card-header {
            border-top-left-radius: 0;
        }

        .card-group>.card:last-child .card-img-bottom,
        .card-group>.card:last-child .card-footer {
            border-bottom-left-radius: 0;
        }

        .card-group>.card:only-child {
            border-radius: 0.25rem;
        }

        .card-group>.card:only-child .card-img-top,
        .card-group>.card:only-child .card-header {
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }

        .card-group>.card:only-child .card-img-bottom,
        .card-group>.card:only-child .card-footer {
            border-bottom-right-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }

        .card-group>.card:not(:first-child):not(:last-child):not(:only-child) {
            border-radius: 0;
        }

        .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
        .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
        .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-header,
        .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
            border-radius: 0;
        }
    }

    .card-columns .card {
        margin-bottom: 0.75rem;
    }

    @media (min-width: 576px) {
        .card-columns {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
            -webkit-column-gap: 1.25rem;
            -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
        }

        .card-columns .card {
            display: inline-block;
            width: 100%;
        }
    }


    /*---------------- Riwayat Pesanan -----------------*/
    .f-w-6 {
        font-weight: 600;
    }

    .l-h-15 {
        line-height: 15px;
    }

    .h-inv-yeps {
        font-size: 16px;
        margin-bottom: 5px;
        color: #DC2977;
        line-height: 15px !important;
    }


    .h-ctn-yeps {
        font-size: 13px;
        margin-bottom: 5px;
        line-height: 15px !important;
    }

    .h-t-txt-yeps {
        font-size: 15px;
        font-weight: 300;
        line-height: 1px !important;
    }

    .h-t-text-ctn-yeps {
        font-size: 15px
    }

    .h-t-text-sub-yeps {
        line-height: 20px !important;
        font-size: 13px
    }

    .add-service-yeps {
        line-height: 20px !important;
        font-size: 15px;
        font-weight: 600;
        color: #252525;
    }

    .add-desc-yeps {
        line-height: 1px !important;
        font-size: 13px;
    }

    .add-price-yeps {
        font-weight: 600;
        color: #252525;
    }

    .det-ord-yeps {
        font-size: 13px !important;
        color: #7b7b7b
    }



    img {
        vertical-align: middle;
    }

    .img-responsive {
        display: block;
        height: auto;
        max-width: 100%;
    }

    .img-rounded {
        border-radius: 3px;
    }

    .img-thumbnail {
        background-color: #fff;
        border: 1px solid #ededf0;
        border-radius: 3px;
        display: inline-block;
        height: auto;
        line-height: 1.428571429;
        max-width: 100%;
        moz-transition: all .2s ease-in-out;
        o-transition: all .2s ease-in-out;
        padding: 2px;
        transition: all .2s ease-in-out;
        webkit-transition: all .2s ease-in-out;
    }

    .img-circle {
        border-radius: 50%;
    }

    .timeline-centered {
        position: relative;
        margin-bottom: 30px;
    }

    .timeline-centered:before,
    .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before,
    .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before {
        content: '';
        position: absolute;
        display: block;
        width: 4px;
        background: #f5f5f6;
        /*left: 50%;*/
        top: 20px;
        bottom: 20px;
        margin-left: 30px;
    }

    .timeline-centered .timeline-entry {
        position: relative;
    /*width: 50%;
    float: right;*/
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    clear: both;
}

.timeline-centered .timeline-entry:before,
.timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry:after {
    clear: both;
}

.timeline-centered .timeline-entry:before,
.timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry:after {
    clear: both;
}

.timeline-centered .timeline-entry.begin {
    margin-bottom: 0;
}

.timeline-centered .timeline-entry.left-aligned {
    float: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
    margin-left: 0;
    margin-right: -18px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
    left: auto;
    right: -100px;
    text-align: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
    float: right;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
    margin-left: 0;
    margin-right: 70px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -8px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before,
.timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before,
.timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
    position: absolute;
    left: -100px;
    text-align: right;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time>span {
    display: block;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time>span:first-child {
    font-size: 15px;
    font-weight: bold;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time>span:last-child {
    font-size: 12px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    background: #fff;
    color: #737881;
    display: block;
    width: 20px;
    height: 20px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f5f5f6;
    -webkit-box-shadow: 0 0 0 5px #f5f5f6;
    box-shadow: 0 0 0 5px #f5f5f6;
    line-height: 40px;
    font-size: 15px;
    float: left;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
    background-color: #303641;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
    background-color: #ee4749;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
    background-color: #00a651;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
    background-color: #21a9e1;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
    background-color: #fad839;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
    background-color: #cc2424;
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: #f5f5f6;
    padding: 1em;
    margin-left: 60px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f5f5f6 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2,
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    color: #737881;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    margin: 0;
    line-height: 1.428571429;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p+p {
    margin-top: 15px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    font-size: 13px;
    margin-bottom: 10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    color: #303641;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
    -webkit-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
    -ms-filter: alpha(opacity=60);
    filter: alpha(opacity=60);
}

/*---------------- end: Riwayat Pesanan -----------------*/


.profil-nm-yeps {
    position: relative;
    font-family: "Roboto" !important;
    padding: 11px 14px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #252525;
    text-transform: uppercase;
    border-radius: 0;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    transition: all .3s ease;
    line-height: 80px;
}

.add-name {
    font-size: 16px;
    font-weight: 600;
    color: #252525;
    font-family: Nunito !important;

}

.add-price-satuan {
    font-size: 13px;
    color: #FB9307;
}


.ilang {
    background: transparent;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom: transparent !important;
    box-shadow: none !important;
}

.lyt-vnsia {
    padding: 0px 90px;
}

table,
.p-5 td {
    padding: 5px;
}

.total-harga {
    line-height: 0px !important;
    margin-bottom: 20px;
}

.txt-total-harga {
    line-height: 0px !important;
    margin-top: 20px;
}

/*New Button*/
.btn-vensia {
    background-color: #dc2977;
}

.btn-vensia:hover {
    background-color: #ca1d69;
}

.btn-outline-vensia {
    color: #dc2977;
    border-color: #dc2977;
}

.btn-outline-vensia:hover {
    background-color: #fafafa;
    color: #dc2977;
    border-color: #dc2977;
}

.btn-noline {
    color: #dc2977;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.btn-noline:hover {
    background-color: #fafafa;
    color: #dc2977;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12);
}

/*Searching Vensia*/
form {
    width: 100%;
    max-width: 790px;
    margin-bottom: 0;
}

form .inner-form {
    background: #fafafa;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 7px;
    position: absolute;
    margin-left: 300px;
    margin-top: 20px;
    border: 1px solid #eaeaea;
}

form .inner-form .input-field {
    height: 40px;
}

form .inner-form .input-field input {
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 32px;
    font-size: 13px;
    color: #555;
}

form .inner-form .input-field input.placeholder {
    color: #888;
    font-size: 13px;
}

form .inner-form .input-field input:-moz-placeholder {
    color: #888;
    font-size: 13px;
}

form .inner-form .input-field input::-webkit-input-placeholder {
    color: #888;
    font-size: 16px;
}

form .inner-form .input-field input:hover,
form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
    border-color: #fff;
}

form .inner-form .input-field.first-wrap {
    width: 200px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

form .inner-form .input-field.first-wrap .choices__inner {
    background: transparent;
    border-radius: 0;
    border: 0;
    height: 100%;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 30px;
}

form .inner-form .input-field.first-wrap .choices__inner .choices__list.choices__list--single {
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

form .inner-form .input-field.first-wrap .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    opacity: 1;
    color: #888;
}

form .inner-form .input-field.first-wrap .choices__inner .choices__list--single .choices__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    color: #555;
}

form .inner-form .input-field.first-wrap .choices[data-type*="select-one"]:after {
    right: 30px;
    border-color: #e5e5e5 transparent transparent transparent;
}

form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown {
    border: 0;
    background: #fff;
    padding: 20px 30px;
    margin-top: 2px;
    border-radius: 4px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown .choices__item--selectable {
    padding-right: 0;
}

form .inner-form .input-field.first-wrap .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background: #fff;
    color: #63c76a;
}

form .inner-form .input-field.first-wrap .choices__list--dropdown .choices__item {
    color: #555;
    min-height: 24px;
}

form .inner-form .input-field.second-wrap {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

form .inner-form .input-field.third-wrap {
    width: 60px;
    border-radius: 7px;
}

form .inner-form .input-field.third-wrap .btn-search {
    border-radius: 0px 7px 7px 0px;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    color: #fff;
    border: 0;
    cursor: pointer;
    border: 1px solid #dc2977;
    background: #dc2977;
    transition: all .2s ease-out, color .2s ease-out;
}

form .inner-form .input-field.third-wrap .btn-search svg {
    width: 16px;
}

form .inner-form .input-field.third-wrap .btn-search:hover {
    background: #dc2977;
}

form .inner-form .input-field.third-wrap .btn-search:focus {
    outline: 0;
    box-shadow: none;
}

@media screen and (max-width: 992px) {
    form .inner-form .input-field {
        height: 50px;
    }
}

@media screen and (max-width: 767px) {
    form .inner-form {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 20px;
    }

    form .inner-form .input-field {
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    form .inner-form .input-field input {
        padding: 10px 15px;
    }

    form .inner-form .input-field.first-wrap {
        width: 100%;
        border-right: 0;
    }

    form .inner-form .input-field.first-wrap .choices__inner {
        padding: 10px 15px;
    }

    form .inner-form .input-field.first-wrap .choices[data-type*="select-one"]:after {
        right: 11.5px;
        border-color: #e5e5e5 transparent transparent transparent;
    }

    form .inner-form .input-field.second-wrap {
        width: 100%;
        margin-bottom: 30px;
    }

    form .inner-form .input-field.second-wrap input {
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    form .inner-form .input-field.third-wrap {
        margin-bottom: 0;
        width: 100%;
    }
}

.our-space {
    border-top: 10px solid #fafafa;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.our-space2 {
    border-top: 4px solid #f7f7f7;
    margin-top: 140px !important;
}

.kiri{
    float: left !important;
}

.kanan{
    float: right !important;
}

.pembayaran-card {
    background-color: #FFF6F6;
    border-radius: 5px;
    padding: 20px
}

.leright {
    text-align: right;
}